.todo-list-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 15px;
}

.task-enter {
  opacity: 0;
  transform: translateY(-20px);
}
.task-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}
.task-exit {
  opacity: 1;
  transform: translateY(0);
}
.task-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 500ms, transform 500ms;
}

@media (max-width: 768px) {
  .todo-list-container {
    max-width: 100%;
  }
}
